[Desktop Entry]
Type=Application
Icon=leafpad
Name=Scan-ocr
Comment=Scan a page (OCR) and load text into leafpad
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
Exec= /mnt/*/additional_scripts/scan-ocr.sh
StartupNotify=true
Terminal=true
MimeType=inode/directory;
