<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

	<menu id="root-menu" label="Openbox 3">
		<item label="System info">
			<action name="Execute">
				<command>
					hardinfo
				</command>
			</action>
		</item>
		<item label="Screen configuration">
			<action name="Execute">
				<command>
					lxrandr
				</command>
			</action>
		</item>
		<item label="DHCP client">
			<action name="Execute">
				<command>
					dhcpcd-ui
				</command>
			</action>
		</item>
		<item label="Package manager">
			<action name="Execute">
				<command>
					porthole
				</command>
			</action>
		</item>
		<item label="Partitioner">
			<action name="Execute">
				<command>
					gparted
				</command>
			</action>
		</item>
		<item label="Archive Manager">
			<action name="Execute">
				<command>
					xarchiver
				</command>
			</action>
		</item>
		<item label="File transfer protector">
			<action name="Execute">
				<command>
					pypar2
				</command>
			</action>
		</item>
		<item label="Antivirus">
			<action name="Execute">
				<command>
					clamav
				</command>
			</action>
		</item>
		<item label="Word Processor">
			<action name="Execute">
				<command>
					abiword
				</command>
			</action>
		</item>
		<item label="Spreadsheet">
			<action name="Execute">
				<command>
					gnumeric
				</command>
			</action>
		</item>
		<item label="Calculator">
			<action name="Execute">
				<command>
					galculator
				</command>
			</action>
		</item>
		<item label="Presentation">
			<action name="Execute">
				<command>
					impressive
				</command>
			</action>
		</item>
		<item label="Audio Player">
			<action name="Execute">
				<command>
					alsaplayer
				</command>
			</action>
		</item>
		<item label="Media Player">
			<action name="Execute">
				<command>
					mpv
				</command>
			</action>
		</item>
		<item label="Youtube viewer">
			<action name="Execute">
				<command>
					mps-youtube
				</command>
			</action>
		</item>
		<item label="Instant messenger">
			<action name="Execute">
				<command>
					gajim
				</command>
			</action>
		</item>
		<item label="VOIP phone">
			<action name="Execute">
				<command>
					linphone
				</command>
			</action>
		</item>
		<item label="E-mail client">
			<action name="Execute">
				<command>
					claws-mail
				</command>
			</action>
		</item>
		<item label="Image Viewer">
			<action name="Execute">
				<command>
					gpicview
				</command>
			</action>
		</item>
		<item label="Image manipulator (vector)">
			<action name="Execute">
				<command>
					inkscape
				</command>
			</action>
		</item>
		<item label="Image manipulator (raster)">
			<action name="Execute">
				<command>
					gimp
				</command>
			</action>
		</item>
		<item label="CD/DVD writer">
			<action name="Execute">
				<command>
					xfburn
				</command>
			</action>
		</item>
		</menu>
</openbox_menu>
